/***hook and weight***/
#hook {
    background: url(https://media.tumblr.com/ecd5f9ff15303128ae7e7ff03f7f360e/tumblr_inline_msnpzuxxzz1qz4rgp.png) no-repeat right top;
    width: 43px;
    height: 64px;
    position: fixed;
    right: 0;
    top: 20px;
    z-index: 9999;
}

#weight {
    width: 121px;
    height: 271px;
    position: fixed;
    right: -2px;
    bottom: 0;
    z-index: 9999;
}

#weight .main {
    background-image: url(https://25.media.tumblr.com/71dccdeb0accb8f60293490288c6dce7/tumblr_msnoy3wzh61shpaqho2_250.png);
    width: 100%;
    height: 100%;
    position: relative;
    top: 156px;
}

#hook .chain,
#weight .chain {
    background: url(https://media.tumblr.com/08f77afe0c0d80d0e59d303059484cfd/tumblr_inline_msnq0aSYG71qz4rgp.png) repeat-y center bottom;
    width: 6px;
    height: 1000px;
    position: absolute;
}

#hook .chain {
    left: 6px;
    bottom: 34px;
}

#weight .chain {
    left: 54px;
    bottom: 60px;
}

#weightshadow {
    background-image: url(https://25.media.tumblr.com/35f78e946cde0f4b2029fcfbe5e07498/tumblr_msnoy3wzh61shpaqho3_250.png);
    width: 121px;
    height: 271px;
    position: fixed;
    right: -62px;
    bottom: -236px;
    opacity: 0.25;
    z-index: 1;
}

#weightshadow .chain {
    background: url(https://media.tumblr.com/73d074afa4cfbc93aa79476cb6687fc8/tumblr_inline_msnq0fGiX61qz4rgp.png) repeat-y center bottom;
    width: 12px;
    height: 1000px;
    position: absolute;
    left: 51px;
    bottom: 121px;
}

/***Large Cog***/
#largecog {
    height: 100%;
    width: 450px;
    position: fixed;
    left: 50%;
    top: 0;
    z-index: 5;
    pointer-events: none;
}

#cog4 {
    width: 312px;
    height: 312px;
    position: absolute;
    bottom: 50%;
    right: 142px;
    margin-bottom: -56px;
    z-index: 1;
    transform: rotate(8deg);
}

#cog3a,
#cog3b {
    width: 148px;
    height: 148px;
    position: absolute;
    bottom: 50%;
    right: 224px;
    margin-bottom: 26px;
    z-index: 2;
    transform: rotate(10deg);
}

#cog3b {
    transform: rotate(0deg);
}

/***RIGHT***/
#right {
    height: 100%;
    width: 320px;
    position: fixed;
    left: 50%;
    top: 0;
    margin-left: 130px;
    z-index: 7;
    pointer-events: none;
}

#rightshadow {
    height: 100%;
    width: 320px;
    position: fixed;
    left: 50%;
    top: 0;
    margin: 80px 0 0 190px;
    z-index: 2;
    opacity: 0.25;
    pointer-events: none;
}

/*turning chains*/
#mfchain {
    width: 26px;
    height: 50%;
    position: absolute;
    bottom: 50%;
    right: 245px;
    margin-bottom: 260px;
    z-index: 11;
}

#mfchain #mfchainleft,
#mfchain #mfchainright {
    background-image: url(https://media.tumblr.com/08f77afe0c0d80d0e59d303059484cfd/tumblr_inline_msnq0aSYG71qz4rgp.png);
    width: 6px;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 4;
}

#mfchain #mfchainleft {
    left: 0;
}

#mfchain #mfchainright {
    right: 0;
}

#mfschain {
    width: 32px;
    height: 50%;
    position: absolute;
    bottom: 50%;
    right: 245px;
    margin: 0 -3px 260px 0;
}

#mfschain #mfschainleft,
#mfschain #mfschainright {
    background-image: url(https://media.tumblr.com/73d074afa4cfbc93aa79476cb6687fc8/tumblr_inline_msnq0fGiX61qz4rgp.png);
    width: 12px;
    height: 100%;
    position: absolute;
    bottom: 0;
}

#mfschain #mfschainleft {
    left: 0;
}

#mfschain #mfschainright {
    right: 0;
}

#mfspin {
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: -20px;
    left: -6px;
}

#mfspin .bottomlayer,
#mfspin #mfmiddle,
#mfspin .toplayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#mfspin .bottomlayer {
    background-image: url(https://media.tumblr.com/a0e26aa42223f40db6ad46b2536eecb5/tumblr_inline_msnq0sd7GQ1qz4rgp.png);
    z-index: 1;
}

#mfspin #mfmiddle {
    background-image: url(https://media.tumblr.com/c1318ca1906e5f5ee48929c4d47286a4/tumblr_inline_msnq0yO6Ma1qz4rgp.png);
    z-index: 2;
    transform: rotate(15deg);
}

#mfspin .toplayer {
    background-image: url(https://media.tumblr.com/7d57abafaaca42f0ce2f519ddfb224ea/tumblr_inline_msnq13Ctqs1qz4rgp.png);
    z-index: 3;
}

#mfcover {
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: -20px;
    left: -6px;
    background-image: url(https://media.tumblr.com/f521b1840e298ea6a59028758e8d94c4/tumblr_inline_msnq19a0ii1qz4rgp.png);
    z-index: 5;
}

/*cog2*/
#cog1a,
#cog1b {
    width: 92px;
    height: 92px;
    position: absolute;
    bottom: 50%;
    right: 212px;
    margin-bottom: 213px;
    z-index: 10;
    transform: rotate(15deg);
}

#cog2a,
#cog2b,
#cog2c {
    width: 92px;
    height: 92px;
    position: absolute;
    bottom: 50%;
    right: 182px;
    margin-bottom: 140px;
    z-index: 9;
    transform: rotate(6deg);
}

#cog1b,
#cog2b {
    transform: rotate(0deg);
}

/***Sidebar***/
#side {
    width: 318px;
    height: 565px;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 8;
    margin-top: -278px;
    background: url(https://25.media.tumblr.com/fad35f9c2c77c7fdf456a232e179b1ce/tumblr_msnoy3wzh61shpaqho4_400.png) no-repeat center center;
    pointer-events: auto;
}

#sideshadow {
    width: 371px;
    height: 579px;
    position: absolute;
    top: 50%;
    right: -5px;
    margin-top: -283px;
}

#side a.avatar {
    display: block;
    width: 115px;
    height: 115px;
    position: absolute;
    top: 20px;
    right: 15px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #000;
    background-size: cover;
}

#side a.avatar img {
    display: block;
    width: 115px;
    height: 115px;
}

/*Sidebar Description*/
#side .description {
    height: 205px;
    width: 165px;
    margin: 20px;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 15px;
    overflow-y: auto;
    border: solid 3px #4c1f12;
    border-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.2);
    color: #dedbd8;
}

#side .description h1 {
    font: normal normal 16px 'Lobster', 'Georgia Italic', Georgia, serif;
    margin-bottom: 0;
}

#side .description a {
    color: #9f8a66;
}

#side .description a:hover {
    color: #554126;
}

#side .description::-webkit-scrollbar {
    width: 12px;
}

#side .description::-webkit-scrollbar-thumb {
    background-color: #554126;
    border-radius: 10px;
    box-shadow: inset 3px 5px 6px #9f8a66;
}

/*Sidebar Description - Divider*/
#side .description .divider {
    width: 100%;
    height: 7px;
    margin: 7px 0;
    background: url(https://media.tumblr.com/6f3f6a54e07cdfa9ab0720dc5ba534fb/tumblr_inline_msnr9kL0DM1qz4rgp.png) no-repeat center center;
}

/*Sidebar Buttons*/
#side .buttonlinks {
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 23px;
}

#side .buttonlinks span {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    background: url(https://static.tumblr.com/701c271264c9df5b466406d84945bd86/ar04e8q/25Uouz3qm/tumblr_static_5f4lh4793ls04w00wog4ksk4c.png) no-repeat center center;
    display: block;
    cursor: pointer;
}

#side .buttonlinks span:hover {
    position: relative;
    top: 1px;
}

#side .buttonlinks span a {
    display: block;
    width: 35px;
    height: 25px;
    margin-left: 15px;
    padding: 7px 0;
    color: #ffffff;
    text-align: center;
    font: 20px 'Times New Roman', Times;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 55px 80px 5px rgba(0, 0, 0, 0.25);
}

/***LEFT***/
#content {
    width: 560px;
    margin: 140px auto 100px;
    position: relative;
    right: 150px;
    z-index: 6;
    background: url(https://static.tumblr.com/26081dcf706d3bdbfb89551838f29f90/ar04e8q/ab7ouz3qm/tumblr_static_50dhqhtcrwo4w00088co8cc8o.png) repeat-y 124px 4px;
    transition: all 0.5s ease;
    /* Smooth transition for mode switch */
}

/* --- HOME MODE OVERRIDES --- */
#content.home-mode {
    width: 90%;
    max-width: 1000px;
    right: auto;
    left: auto;
    margin: 100px auto;
    background: none;
    /* Remove parchment background */
}

#content.home-mode .bgtop,
#content.home-mode .bgbottom {
    display: none;
    /* Hide top/bottom decorations */
}

#content img.bgtop {
    display: block;
    width: 300px;
    height: 111px;
    position: absolute;
    z-index: 1;
    top: -111px;
    left: 126px;
}

#content img.bgbottom {
    display: block;
    width: 302px;
    height: 13px;
    position: absolute;
    z-index: 1;
    bottom: -13px;
    left: 123px;
    box-shadow: 60px 80px 5px rgba(0, 0, 0, 0.25);
}

/*Posts*/
.post {
    width: 556px;
    padding: 2px;
    margin: 0 0 75px;
    background: #e6e5e3 url(https://25.media.tumblr.com/8a4396e8b05782acd58e83023088d89c/tumblr_msnoy3wzh61shpaqho6_1280.jpg) repeat center top;
    position: relative;
    z-index: 3;
    color: #000000;
    box-shadow: 60px 80px 5px rgba(0, 0, 0, 0.25);
}

.post:after {
    content: url(https://static.tumblr.com/f0459eba5f16bcf9a939701ba6838493/ar04e8q/hbsouz2sp/tumblr_static_bgayoww7h3scs8s0c8scc4gg4.png);
    width: 316px;
    height: 13px;
    position: absolute;
    bottom: -13px;
    left: 124px;
}

.post:last-child {
    margin: 0;
}

.post:last-child:after {
    content: none;
}

/*Post Frames*/
.post #frame {
    padding: 17px;
    position: relative;
    border: solid 11px #3B5F5F;
}

.post #frame .frametop {
    height: 21px;
    width: 560px;
    background: url(https://25.media.tumblr.com/e4d66ca194a08a5af15af346c0250208/tumblr_msnoy3wzh61shpaqho8_1280.png) no-repeat center top;
    position: absolute;
    top: -13px;
    left: -13px;
}

.post #frame .framebottom {
    height: 17px;
    width: 560px;
    background: url(https://static.tumblr.com/2c21bc47f91d80eca4d9bc7740bf65b0/ar04e8q/3dAouz2ux/tumblr_static_ejofrds8tag44g4okok0kwogc.png) no-repeat center top;
    position: absolute;
    bottom: -13px;
    left: -13px;
}

.post #frame .frameleft,
.post #frame .frameright {
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
}

.post #frame .frameleft {
    left: -13px;
    background: url(https://media.tumblr.com/5e92297a96c1e5e323006432d7f336bf/tumblr_inline_msnq2zjETS1qz4rgp.png) repeat-y left top;
}

.post #frame .frameright {
    right: -13px;
    background: url(https://media.tumblr.com/b538a9aebfae9197b0f6a9ebcac481c1/tumblr_inline_msnq36bsLK1qz4rgp.png) repeat-y right top;
}

/* Helper classes */
.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1rem;
}

.p-4 {
    padding: 1rem;
}

/* Login Overlay */
#login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /* Ensure it's on top of everything */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    /* Dim background */
    pointer-events: auto;
    /* Enable interaction */
}

#login-overlay>div {
    pointer-events: auto;
}

/* ========================================= */
/* --- FIXED 3 GEARS (FORCE KIRI BAWAH) --- */
/* ========================================= */
#bottom-left-gears {
    position: fixed !important;
    /* Paksa posisi tetap */
    left: 0 !important;
    /* Paksa TEMPEL KIRI */
    right: auto !important;
    /* Matikan kanan */
    bottom: 0 !important;
    /* Paksa TEMPEL BAWAH */
    top: auto !important;
    /* Matikan atas */

    width: 350px;
    height: 350px;
    z-index: 10;
    /* Pastikan terlihat (layer depan) */
    pointer-events: none;
    /* Agar klik tembus ke belakang */
}

.gear-spin {
    position: absolute;
    will-change: transform;
    /* Efek bayangan agar gear terlihat nyata */
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

/* --- POSISI TUMPUK (INTERLOCKED) --- */

/* 1. Gear Raksasa (Paling Belakang) */
/* ===== tambahan: hanya untuk menampilkan 2 gear di pojok kiri-bawah ===== */
#bottom-left-gears {
    position: fixed;
    /* tetap di pojok viewport; ubah ke absolute jika mau relatif ke container */
    left: 0;
    bottom: 0;
    width: 420px;
    height: 420px;
    pointer-events: none;
    /* agar tidak mengganggu klik */
    z-index: 1;
}

#bottom-left-gears img {
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    transform-origin: center;
    filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 0.35));
}

/* gear besar (brown) — sebagian keluar layar kiri/bawah seperti contoh */
#g-giant {
    width: 360px;
    left: -100px;
    bottom: -80px;
    z-index: 1;
}

/* gear kecil (gold) — posisi atas-kiri di atas gear besar */
#g-gold {
    width: 200px;
    left: -25px;
    top: -5px;
    z-index: 2;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.25));
}

#g-silver {
    width: 200px;
    left: -20px;
    bottom: 0px;
    z-index: 1;
}

@keyframes gear-rot {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* responsif sederhana */
@media (max-width:1000px) {
    #bottom-left-gears {
        width: 220px;
        height: 220px;
    }

    #g-giant {
        width: 180px;
        left: -18px;
        bottom: -18px;
    }

    #g-gold {
        width: 48px;
        left: 6px;
        top: 22px;
    }
}

/* --- Responsive Media Queries --- */
@media screen and (max-width: 800px) {

    /* Hide decorative heavy elements */
    #hook,
    #weight,
    #weightshadow,
    #largecog,
    #right,
    #rightshadow {
        display: none !important;
    }

    /* Adjust Content */
    #content {
        width: 95%;
        margin: 20px auto 100px;
        /* Bottom margin for fixed nav */
        right: auto;
        left: auto;
        background-position: center top;
    }

    /* Home Mode on Mobile */
    #content.home-mode {
        width: 95%;
        margin: 20px auto 100px;
    }

    .post {
        width: 100%;
        box-sizing: border-box;
    }

    .post #frame .frametop,
    .post #frame .framebottom {
        width: 100%;
        background-size: 100% 100%;
    }

    /* Adjust Sidebar to be a Bottom Nav */
    #side {
        width: 100%;
        height: auto;
        top: auto;
        bottom: 0;
        right: 0;
        left: 0;
        margin-top: 0;
        background: #2a1a1a;
        /* Dark background for visibility */
        border-top: 2px solid #9f8a66;
        display: flex;
        flex-direction: column-reverse;
        /* Nav buttons at bottom */
        padding: 5px;
        z-index: 100;
    }

    #side a.avatar {
        display: none;
        /* Hide avatar on mobile to save space */
    }

    #side .description {
        position: relative;
        width: 95%;
        height: auto;
        margin: 5px auto;
        border: none;
        background: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #side .description h1,
    #side .description .divider,
    #side .description p {
        display: none;
        /* Hide text description */
    }

    /* Music Player Adjustment */
    #side .description>div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }

    /* Nav Buttons */
    #side .buttonlinks {
        position: relative;
        width: 100%;
        right: auto;
        bottom: auto;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 5px;
    }

    #side .buttonlinks span {
        width: 35px;
        margin-top: 0;
    }

    /* Dashboard Grid to 1 column on mobile */
    .steampunk-dashboard {
        grid-template-columns: 1fr;
    }

    .clock-card,
    .calendar-card {
        grid-column: span 1;
        grid-row: span 1;
    }
}